.case {
  width: 12rem;
}

.text {
  font-size: 1em;
}

.defend {
  background-color: #3cc958;
}

.background__title {
  background-color: #1D3557;
  margin-bottom: 1em;
}

.title {
  padding-left: 10em;
  height: 23%;
}
